<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" id="createrForm">
    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Animal</mat-label>
      <input required matInput formControlName="animal">
      <mat-error>Animal name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Absolut</mat-label>
      <input matInput type="number" class="me-input-nospinner" formControlName="absolut">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Relative</mat-label>
      <input matInput type="number" class="me-input-nospinner" formControlName="relative">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Expert</mat-label>
      <input matInput type="number" class="me-input-nospinner" formControlName="expert">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>