<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" id="createrForm">
    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
      <mat-label>Name</mat-label>
      <input required matInput formControlName="name">
      <mat-error>Name is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>