nav {
    display: flex;
    width: 100vw;
    margin-top: 20px;
    justify-content: center;
}

nav a {
    margin: 0 15px;
}

body {
    margin: 0;
    padding: 0;
}

#createrForm {
    display: inherit;
    width: 100%;
    flex-direction: column;
}

mat-form-field {
    width: 100%;
}

.wrapper {
    border-radius: 5px;
    width: 50vw;
    padding: 20px;
    background-color: beige;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}

.list-item {
    display: inherit;
    flex-direction: column;
}