<div class="wrapper">
  <mat-card class="list-item" *ngFor="let cards of animalCards">
    <mat-card-header>
      <mat-card-title>{{cards.animal}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Абсолютное количество: {{cards.absolut}}
      </p>
      <p>
        Относительное количество: {{cards.relative}}
      </p>
      <p>
        Экспертное количество: {{cards.expert}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="delete(cards.animal)">Delete</button>
    </mat-card-actions>
  </mat-card>
  <a mat-raised-button routerLink="/cards/new" color="primary">Create</a>
</div>