<div class="wrapper">
  <mat-card class="list-item" *ngFor="let license of licencses">
    <mat-card-header>
      <mat-card-title>{{license.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Животные: {{license.animals}}
      </p>
      <p>
        До: {{license.term}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="delete(license.name)">Delete</button>
    </mat-card-actions>
  </mat-card>
  <a mat-raised-button routerLink="/licenses/new" color="primary">Create</a>
</div>