<div class="wrapper">
  <mat-card class="list-item" *ngFor="let feed of feeds">
    <mat-card-header>
      <mat-card-title>{{feed.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Тип: {{feed.kind}}
      </p>
      <p>
        Состав: {{feed.composition}}
      </p>
      <p>
        Количество в заповеднике: {{feed.number}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="delete(feed.name)">Delete</button>
    </mat-card-actions>
  </mat-card>
  <a mat-raised-button routerLink="/feeds/new" color="primary">Create</a>
</div>